<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>note</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            var jwtValue= [[${jwtValue}]];
            $(".btn").click(function(){
                $.ajax({
                    beforeSend: function(request){
                        request.setRequestHeader("Authorization", 'Bearer ' + jwtValue);
                        },
                        dataType: "json",
                        url: 'http://localhost:8080/notes/all',
                        data: {email: 'user95@ds.com'},
                        success: function(arr) {
                        console.log(arr);
                        }
                });
            });
        });
    </script>
</head>
<body>
    <button class="btn">Ajax 전송</button>
</body>
</html>